<h1>Welcome, <%= @user.name%></h1>

<h2>Track Your Progress</h2>
<p>Workouts completed:</p>
<p>Favorite workout:</p>

<%= link_to "Log out", logout_path, method: :delete %>
<%= link_to "Exercise List", exercises_path %>

<h2>Your Workouts:</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Intensity</th>
    <th>Duration</th>
  </tr>
  <tr>
    <% @workouts.each do |workout| %>
      <%=workout.name%>
      <%=workout.status%>
      <%=workout.intensity%>
      <%=workout.duration%>
      <%end%>
  </tr>
</table>

<%= link_to "New Workout", new_user_workout_path%>
