<h1>Welcome, <%= @user.name%></h1>

<h2>Track Your Progress</h2>
<p>Workouts completed:</p>
<p>Favorite workout:</p>

<%= link_to "Log out", logout_path %>
<%= link_to "Exercise List", exercises_path %>

<h2>Your Workouts:</h2>
<% @workouts.each do |workout| %>
  <%=workout.name%>
  <%=workout.status%>
  <%=workout.intensity%>
  <%=workout.duration%>
<%end%>
