<% if @workout.errors.any? %>
  <ul>
    <% @workout.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<h1>New Workout</h1>
  <%=form_for(@workout, url: workouts_path) do |f|%>
    <%=f.text_field :name, placeholder: "Name your workout"%>

    <h4>Add Exercise:</h4>
    <%=f.fields_for :exercises, Exercise.new do |e_fields| %>
      <%=e_fields.text_field :name, placeholder: "Name your exercise" %>
      <%=e_fields.number_field :length, placeholder: "How many seconds?" %>
      <%=e_fields.number_field :level, placeholder: "How hard? (1-3)" %>
      <%=e_fields.select :category, options_for_select([['upper body'], ['core'], ['lower body'], ['full body']])%><br><br>
      <%=e_fields.text_area :how, placeholder: "Instructions" %><br>
      <%=e_fields.number_field :reps, value: nil, min: 1, placeholder: "How many reps?" %><br><br>
  <%end%>

  <%= f.submit %>
<%end%>
