<h1 class="wName"><%=@workout.name.upcase%> | <%=@workout.intensity%> | <%=@workout.duration%> sec</h1>
<a href="#" class="js-next" data-id="<%= @workout.id %>">Next Workout</a>

<h2>Exercises</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Difficulty</th>
    <th>Length</th>
    <th>Reps</th>
    <th>Instruction</th>
  </tr>
  <tr>
    <%@exercises.each do |e|%>
      <td><%=link_to e.name, exercise_path(e)%></td>
      <td><%=link_to e.category.name, category_path(e.category)%></td>
      <td><%=e.difficulty%></td>
      <td><%=e.length%></td>
      <td><%=e.reps_for(@workout.id)%></td>
      <td id="body-<%= e.id %>"><%=truncate e.how%> <button class="js-more" data-id="<%= e.id %>">More</button></td>
  </tr>
      <%end%>
</table><br>

<%=link_to "Edit", edit_workout_path%> | <%=link_to "Delete", workout_path, method: :delete %>

<!-- jQUERY FOR MORE TEXT FOR EXERCISE INSTRUCTIONS (HOW)-->
<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    var id = $(this).data("id");
    $.get("/exercises/" + id + ".json", function(data) {
      $("#body-" + id).html(data["how"])
    });
  });
});
</script>

<!-- jQUERY FOR NEXT WORKOUT LINK -->
<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function() {
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.get("/workouts/" + nextId + ".json", function(data) {
      $(".wName").text(data["name"]);
      $(".js-next").attr("data-id", data["id"]);
    });
  });
});
</script>
