<h1 class="wName"><%=@workout.name.upcase%></h1>
<a href="#" class="js-next" data-id="<%= @workout.id %>">Next Workout</a>

<h2>Exercises</h2>
<table class="table table-hover">
  <thead class="thead-default">
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Level</th>
    <th>Length</th>
    <th>Reps</th>
    <th>Instruction</th>
  </tr>
</thead>
<tbody>
  <tr>
    <%@exercises.each do |e|%>
      <td class="eName"><%=link_to e.name, exercise_path(e)%></td>
      <td class="category"><%=e.category%></td>
      <td class="level"><%=e.level%></td>
      <td class="length"><%=e.length%></td>
      <td class="reps"><%=e.reps%></td>
      <td class="how" id="body-<%= e.id %>"><%=truncate e.how%> <button class="js-more" data-id="<%= e.id %>">More</button></td>
  </tr>
      <%end%>
  <tbody>
</table><br>

<%=link_to "Edit", edit_workout_path%> | <%=link_to "Delete", workout_path, method: :delete %>

<!-- jQUERY FOR MORE TEXT FOR EXERCISE INSTRUCTIONS (HOW)-->
<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    var id = $(this).data("id");
    $.get("/exercises/" + id + ".json", function(data) {
      $("#body-" + id).html(data["how"])
    });
  });
});
</script>

<!-- jQUERY FOR NEXT WORKOUT LINK -->
<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function() {
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.get("/workouts/" + nextId + ".json", function(data) {
      $(".wName").text(data["name"]);
      for(let i=0; i < workout_exercises.length; i++){
        $(".eName").text(data["workout_exercises"][i]["name"]);
        $(".category").text(data["workout_exercises"][i]["category"]);
        $(".difficulty").text(data["workout_exercises"][i]["difficulty"]);
        $(".length").text(data["workout_exercises"][i]["length"]);
        $(".reps").text(data["workout_exercises"][i]["reps"]);
        $(".how").text(data["workout_exercises"][i]["how"]);
      }
      $(".js-next").attr("data-id", data["id"]);
    });
  });
});
</script>
