<h1 class="wName"><%=@workout.name.upcase%></h1>
<a href="#" class="js-next" data-id="<%= @workout.id %>">Next Workout >></a>

<h2>Exercises</h2>
<table id="js-exercisesTable" class="table table-hover">
  <thead class="thead-default">
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Level</th>
    <th>Length</th>
    <th>Reps</th>
    <th>Instruction</th>
  </tr>
</thead>
<tbody>
  <tr>
    <%@exercises.each do |e|%>
      <td class="eName"><%=link_to e.name, exercise_path(e)%></td>
      <td class="category"><%=e.category%></td>
      <td class="level"><%=e.level%></td>
      <td class="length"><%=e.length%></td>
      <td class="reps"><%=e.reps%></td>
      <td class="how" id="body-<%= e.id %>"><%=truncate e.how%> <button class="js-more" data-id="<%= e.id %>">More</button></td>
  </tr>
      <%end%>
  <tbody>
</table><br>


<!-- link that when clicked - > remove hidden field of form. -->
<button type="button" id="showForm">Add Exercise</button>

  <%= form_for(@exercise, url: workout_exercises_path(@workout), html: {class: "add_exercise"}, data: {workout: "#{@workout.id}"}) do |f| %>
    <%=f.text_field :name, placeholder: "Name your exercise" %>
    <%=f.number_field :length, placeholder: "How many seconds?" %>
    <%=f.number_field :level, placeholder: "How hard? (1-3)" %>
    <%=f.select :category, options_for_select([['upper body'], ['core'], ['lower body'], ['full body']])%><br><br>
    <%=f.text_area :how, placeholder: "Instructions" %><br>
    <%=f.number_field :reps, placeholder: "How many reps?" %><br><br>
    <p><%= f.submit %></p>
  <%end%>
