<h1><%=@workout.name.upcase%> | <%=@workout.intensity%> | <%=@workout.duration%> sec</h1>
<h2>Exercises</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Difficulty</th>
    <th>Length</th>
    <th>Instruction</th>
  </tr>
  <tr>
    <%@exercises.each do |e|%>
      <td><%=link_to e.name, exercise_path(e)%></td>
      <td><%=link_to e.category.name, category_path(e.category)%></td>
      <td><%=e.difficulty%></td>
      <td><%=e.length%></td>
      <td><%=e.how%></td>
  </tr>
      <%end%>
</table><br>

<%=link_to "Edit", edit_workout_path%> | <%=link_to "Delete", workout_path, method: :delete %>
