<h1>New User</h1>
<%= form_for(:user, url: signup_path) do |f|%>

<p><%= f.text_field :name, placeholder: (@user.errors.full_messages_for(:name).first || "Your name") %></p>

<p><%= f.email_field :email, placeholder: (@user.errors.full_messages_for(:email).first || "Email") %></p>

<p><%= f.password_field :password, placeholder: (@user.errors.full_messages_for(:password).first || "Password") %></p>

<%= f.submit "Sign up" %><br>
<%end%>
