<h1>Welcome, <%= @user.name%></h1>

<h2>Track Your Progress</h2>
<p>Workouts completed: <%=@user.workouts.count{|w| w.completed == true}%></p>
<p>Favorite exercise: <%= @user.workouts.favorite_exercise%></p>

<%= link_to "Log out", logout_path, method: :delete %>
<%= link_to "Exercise List", exercises_path %>

<h2>Your Workouts:</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Intensity</th>
    <th>Duration</th>
  </tr>
  <tr>
    <% @workouts.each do |workout| %>
      <td><%=link_to workout.name, workout_path(workout)%></td>
      <td><%=workout.status%></td>
      <td><%=workout.intensity%></td>
      <td><%=workout.duration%></td>
  </tr>
      <%end%>
</table>

<p><%= link_to "New Workout", new_user_workout_path%></p>
