<h2>Track Your Progress</h2>
<p>Workouts completed: <%=@user.workouts.count{|w| w.completed == true}%></p>
<p>Favorite exercise(s): <%= @user.favorite_exercise%></p>

<h2>Your Workouts:</h2>
<%=form_tag(user_workouts_path(current_user), method: 'get') do%>
  <%= label_tag "Filter by:" %>
  <%= select_tag :done, options_for_select([['completed'],['not completed']]), {include_blank: true}%>
  <%= submit_tag "Filter"%><br><br>
<%end%>

<table class="table table-hover">
  <thead class="thead-default">
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Intensity</th>
      <th>Duration</th>
    </tr>
  </thead>
  <tbody id="wBody">
  </tbody>
</table>

<p><%= link_to "New Workout", new_workout_path%></p>

<script type="text/javascript">
  $(function() {
    $.ajax({
      url: window.location.pathname + '.json',
      method: 'get',
      success: function(data) {
        var trHTML = '';
        for(i=0; i < data.length; i++) {
          var workout = data[i]
          trHTML +=
          '<tr><td>'
          + workout.name
          + '</td><td>'
          + workout.status
          + '</td><td>'
          + workout.intensity
          + '</td><td>'
          + workout.duration
          + '</td></tr>';
        }
        $('#wBody').append(trHTML);
      }
    })
  }())
</script>
