<h1>New Workout</h1>
<%=form_for(@workout, url: user_workouts_path) do |f|%>
<%=f.text_field :name, placeholder: "Name your workout"%><br><br>
Completed? <%=f.check_box :completed%>

<h3>Add existing exercises:</h3>

<%= f.collection_check_boxes(:exercise_ids, Exercise.all, :id, :name)%>

<h3>Or create your own:</h3>

  <%=f.fields_for :exercises, Exercise.new do |e_fields| %>
    <%=e_fields.text_field :name, placeholder: "Name your exercise" %>
    <%=e_fields.number_field :length, placeholder: "How many seconds?" %>
    <%=e_fields.number_field :difficulty, placeholder: "How hard? (1-3)" %>
    <%=e_fields.text_field :category_id, placeholder: "Choose category" %><br><br>
    <%=e_fields.text_area :how, placeholder: "Instructions" %><br>

  <%end%>

<%= f.submit %>

<%end%>
