<table id="exercises" class="table table-hover">
  <thead class="thead-default">
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Level</th>
    <th>Length</th>
    <th>Reps</th>
    <th>Instruction</th>
  </tr>
</thead>
<tbody>
  {{#exercise}}
  <tr id="tr-{{id}}">
      <td><a href="/exercises/{{id}}" data-id="{{id}}">{{name}}</a></td>
      <td>{{category}}</td>
      <td>{{level}}</td>
      <td>{{length}}</td>
      <td>{{reps}}</td>
      <td>{{how}}</td>
  </tr>
    {{/exercise}}
  <tbody>
</table><br>
