  <h3 class="eName"><%=@exercise.name.upcase%></h3><em class="length"> <%=@exercise.length%> seconds  | </em>


  <small><a href="#" class="js-nextE" data-id="<%= @exercise.id %>">Next Exercise >> </a></small><br><br>

<strong>Instructions:</strong>
<p class="how"><%=@exercise.how%></p>

<strong>Category:</strong>
<p class="category"><%=@exercise.category%></p>
