  <h3 class="eName"><%=@exercise.name.upcase%>:
    <span class="length"> <%=@exercise.length%> seconds </span></h3>
  <small><a href="#" class="js-nextE" data-id="<%= @exercise.id %>">Next Exercise >> </a></small>

<strong>Instructions:</strong>
<p><%=@exercise.how%></p>

<%= link_to @exercise.category.name, category_path(@exercise.category.id)%>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-nextE").on("click", function() {
    var nextId = parseInt($(".js-nextE").attr("data-id")) + 1;
    $.get("/exercises/" + nextId + ".json", function(data) {
      $(".eName").text(data["name"]);
      $(".eName").text(data["name"]);
      $(".eName").text(data["name"]);
      $(".eName").text(data["name"]);
      $(".js-next").attr("data-id", data["id"]);
    });
  });
});
</script>
